[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.1.12"
dj-database-url = "*"
gunicorn = "*"
psycopg2-binary = "*"
model-mommy = "*"
whitenoise = "*"
django-widget-tweaks = "*"
pagseguro = "*"
django-pagseguro2 = "*"
django-paypal = "*"
urllib3 = ">=1.26.5"

[dev-packages]

[requires]
python_version = "3.9"
