[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2-binary = "*"
model-mommy = "*"
whitenoise = "*"
django-widget-tweaks = "*"
pagseguro = "*"

[dev-packages]

[requires]
python_version = "3.9"
